// COLORS
$primary-color: #0b8793;
$secondary-color: #360033;

$white-color: #fff;

$dark-grey: #292929;
$light-grey: #d2d2d2;

$dark-blue-text: #201d36; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
